//*======= header css start =====*//
header {
    .header-bg {
        .header-item {
            @extend %flex;
            position: relative;
            justify-content: space-between;
            align-items: center;
            padding: 18px  20px;
            @include breakpoint (lg) {
                padding: 0 60px;
            }
            @include breakpoint (xl) {
                padding: 0 150px;
            }
            @include breakpoint (xxl) {
                padding: 0 300px;
            }
            .header-logo {
                @include breakpoint (lg) {
                    width: 15%;
                }
                a.your-barnd {
                   img {
                       height: 46px;
                   }
                }
            }
            .header-menu {
                .main-menu {
                    @include breakpoint (max-lg) {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100vw;
                        height: calc(100vh - 0px);
                        z-index: 1111;
                        overflow-y: scroll;
                        transform: scale(0);
                        background-color: $theme-color;
                        transition: all 0.3s ease-in-out;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &.open {
                        transform: scale(1);
                        ul.menu-list {
                            padding: 20px 20px;
                        }
                    }
                    ul.menu-list {
                        margin: 0;
                        text-align: center;
                        display: block;
                        @include breakpoint (lg) {
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;
                        }
                        li {
                            list-style: none;
                            position: relative;
                            &.links-to-floor-li {
                                &.cv-active {
                                    a {
                                        color: $theme-color;
                                    }
                                }
                            }
                        }
                        a {
                            font-weight: 300;
                            padding: 12px 20px;
                            font-size: 14px;
                            color: $white-color;
                            display: inline-block;
                            text-decoration: none;
                            position: relative;
                            transition: all 0.3s ease-in-out;
                            @include breakpoint (lg) {
                                color: #231817;
                                padding: 20px 8px;
                            }
                            @include breakpoint (xl) {
                                padding: 28px 12px;
                            } 
                            &:hover {
                                color: $white-color;
                                @include breakpoint (lg) {
                                    color: $theme-color;
                                }
                                &::after {
                                    transform: scale(1);
                                    -moz-transform: scale(1);
                                    -webkit-transform: scale(1);
                                    -o-transform: scale(1);
                                    -ms-transform: scale(1);
                                }
                            }
                            &::after {
                                @extend %absolute;
                                -webkit-transition: all 0.2s ease-in;
                                -moz-transition: all 0.2s ease-in;
                                -ms-transition: all 0.2s ease-in;
                                -o-transition: all 0.2s ease-in;
                                transition: all 0.2s ease-in;
                                transform: scale(0);
                                -moz-transform: scale(0);
                                -webkit-transform: scale(0);
                                -o-transform: scale(0);
                                -ms-transform: scale(0);
                                height: 2px;
                                width: 80%;
                                background-color: $theme-color;
                                bottom: 10px;
                                left: 50%;
                                margin-left: -40%;
                            }
                        }
                    }
                }
                .mobile-bar {
                    display: block;  
                    height: 40px;
                    width: 40px;
                    line-height: 40px;
                    position: relative;
                    margin: 0 15px;
                    @include breakpoint (lg) {
                        display: none;
                    }
                    &.close { 
                        opacity: 1;
                        z-index: 11111;
                        span {
                            background: $white-color;
                            &:nth-child(1) {
                                transform: translate(-100%, -50%) rotate(45deg);
                                margin-right: 0px;
                            }
                            &:nth-child(2) {
                                margin: 3px 0px;
                                transform: translate(-70%, -50%) rotate(-45deg);
                            }
                            &:nth-child(3) {
                                transform: translate(-70%, -50%) rotate(45deg);
                                top: 26px;
                            }
                        }
                    }
                    span{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 30px;
                        height: 4px;
                        z-index: 1;
                        border-radius: 4px;
                        background: $theme-color;
                        transform: translate(-50%, -50%);
                        transition: all .3s ease;
                        &:nth-child(1) {
                            width: 14px;
                            margin-top: 8px;
                            margin-left: 8px;
                        }
                        &:nth-child(3) {
                            width: 14px;
                            margin-top: -9px;
                            margin-left: -8px;
                        }
                    }
                }
            }
        }
        &.menu-fixed  {
            position: fixed !important;
            top: 0px;
            left: 0;
            right: 0;
            z-index: 11111;
            background: $white-color;
            box-shadow: 0px 0 10px rgba(136, 136, 136, 0.10);
        }
    }
}
//*======= header css ends  =====*//

//*====== footer menu css start ====*//
.footer-menu-item {
    padding-top: 40px;
    @extend %flex;
    justify-content: space-between;
    align-items: center;
    .footer-logo {
        img {
            height: 70px;
            width: 70px;
        }
    }
    .footer-menu {
        @include breakpoint (max-sm) {
            width: 80%;
        }
        ul.menu-list {
            margin: 0;
            padding: 0;
            list-style: none;
            @extend %flex;
            align-items: center;
            li {
                a {
                    color: $theme-color;
                    font-weight: 300;
                    position: relative;
                    text-decoration: none;
                    font-size: 12px;
                    padding: 10px 8px;
                    @include breakpoint (sm) {
                        padding: 10px 20px;
                        font-size: 14px;
                    }
                    &:hover {
                        color: $theme-color;
                        &::after {
                            transform: scale(1);
                            -moz-transform: scale(1);
                            -webkit-transform: scale(1);
                            -o-transform: scale(1);
                            -ms-transform: scale(1);
                        }
                    }
                    &::after {
                        @extend %absolute;
                        -webkit-transition: all 0.2s ease-in;
                        -moz-transition: all 0.2s ease-in;
                        -ms-transition: all 0.2s ease-in;
                        -o-transition: all 0.2s ease-in;
                        transition: all 0.2s ease-in;
                        transform: scale(0);
                        -moz-transform: scale(0);
                        -webkit-transform: scale(0);
                        -o-transform: scale(0);
                        -ms-transform: scale(0);
                        height: 2px;
                        width: 80%;
                        background-color: $theme-color;
                        bottom: 0;
                        left: 50%;
                        margin-left: -40%;
                    }
                }
            }
        }
    }
}
//*====== footer menu css ends  ====*//