//*====== our services css stat ======*//
.our-services {
    padding: 60px 0;
    overflow: hidden;
    @include breakpoint (md) {
        padding: $common-padding;
    }
    .section-header {
        h4 {
            display: inline;
            background: #d8d8d8;
        }
        p {
            font-weight: 600;
        }
    }
    .section-wrapper {
        padding-top: 60px;
        h4 {
            text-align: center;
            padding-bottom: 30px;
        }
        ul.services-list {
            margin: 0;
            padding: 0;
            width: 100%;
            list-style: none;
            display: block;
            @include breakpoint (sm) {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-evenly;
            }
            li {
                width: 100%;
                @include breakpoint (sm) {
                    width: calc(100% / 2);
                }
                &:nth-child(1) {
                    .service-content {
                        &::before {
                            content: '1';
                            top: 8px;
                            left: 8px;
                        }
                        &::after {
                            top: -40px;
                            left: -40px;
                        }
                    }
                }
                &:nth-child(2) {
                    .service-content {
                        text-align: right;
                        p {
                            margin-right: 0;
                            margin-left: auto;
                        }
                        &::before {
                            content: '2';
                            top: 8px;
                            right: 8px;
                        }
                        &::after {
                            top: -40px;
                            right: -40px;
                        }
                    }
                }
                &:nth-child(3) {
                    .service-content {
                        &::before {
                            content: '3';
                            bottom: 8px;
                            left: 8px;
                        }
                        &::after {
                            bottom: -40px;
                            left: -40px;
                        }
                    }
                }
                &:nth-child(4) {
                    .service-content {
                        text-align: right;
                        p {
                            margin-right: 0;
                            margin-left: auto;
                        }
                        &::before {
                            content: '4';
                            bottom: 8px;
                            right: 8px;
                        }
                        &::after {
                            bottom: -40px;
                            right: -40px;
                        }
                    }
                }
                .service-content {
                    margin: 5px;
                    position: relative;
                    overflow: hidden;
                    padding: 45px 35px 20px;
                    background: #d8d8d8;
                    &::after {
                        @extend %absolute;
                        height: 80px;
                        width: 80px;
                        z-index: 9;
                        color: $white-color;
                        transform: rotate(45deg);
                        background: $theme-color;
                    }
                    &::before {
                        @extend %absolute;
                        z-index: 999;
                        font-size: 14px;
                        color: $white-color;
                    }
                    h6 {
                        margin: 0;
                        padding-bottom: 12px;
                    }
                    p {
                        margin: 0;
                        font-size: 12px;
                        max-width: 215px;
                        @include breakpoint (md) {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}
//*====== our services css ends  ======*//

//*====== our product area css start =====*//
.our-product {
    padding: 60px 0;
    overflow: hidden;
    @include breakpoint (md) {
        padding: $common-padding;
    }
    .section-header {
        padding-bottom: 20px;
    }
    .section-wrapper {
        .product-border {
            @include breakpoint (lg) {
                border-bottom: 1px solid #060933;
            }
        }
        .col-lg-4.col-md-6.col-6:nth-child(1) {
            @include breakpoint (lg) {
                border-right: 1px solid #060933;
            }
        }
        .col-lg-4.col-md-6.col-6:nth-child(2) {
            @include breakpoint (lg) {
                border-right: 1px solid #060933;
            }
        }
        .product-itme {
            .itme-thumb {
                margin-bottom: 16px;
                position: relative;
                img {
                    width: 100%;
                }
                &::after {
                    @extend %absolute;
                    top: 0;
                    left: 50%;
                    height: 100%;
                    width: 1px;
                    z-index: 111;
                    transform: rotate(-45deg);
                    background: #06093340;
                }
            }
            .item-text {
                max-width: 230px;
                margin: 0 auto;
                text-align: left;
                h6 {
                    margin: 0;
                    font-weight: 300;
                    color: $white-color;
                    display: inline;
                    background: #060933;
                }
                p {
                    margin: 0;
                    padding-top: 18px;
                }
            }
            &.style-one {
                @extend %flex;
                align-items: center;
                .itme-thumb {
                    width: 50%;
                }
                .item-text {
                    width: 50%;
                    padding-left: 12px;
                }
            }
        }
    }
}
//*====== our product area css ends  =====*//


//*===== the future area css start =====*//
.for-future {
    padding-bottom: 60px;
    overflow: hidden;
    @include breakpoint (md) {
        padding-bottom: 100px;
    }
    .section-wrapper {
        padding-top: 30px;
        .future-content {
            text-align: center;
            max-width: 600px;
            margin: 0 auto;
            h4 {
                font-weight: 300;
                padding: 8px;
                max-width: 250px;
                margin: 0 auto;
                background: #060933;
                color: $white-color;
            }
            .future-des {
                padding: 10px 30px 30px;
                background: #060933;
                p {
                    margin: 0;
                    font-weight: 300;
                    font-size: 14px;
                    color: $white-color;
                }
            }
        }
    }
}
//*===== the future area css ends  =====*//


//?===== equipment-area css satart =====?//
.equipment-area {
    padding-bottom: 60px;
    @include breakpoint (md) {
        padding-bottom: 100px;
    }
    .section-header {
        padding-bottom: 30px;
        h3 {
            font-size: 20px;
        }
    }
}
//?===== equipment-area css ends =====?//

//*====== contact us css start =====*//
.contact-us {
    padding-bottom: 60px;
    @include breakpoint (md) {
        padding-bottom: 100px;
    }
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    outline: none;
    border: none;
    height: 50px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #FAF7FD;
    background-clip: padding-box;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &::placeholder {
        font-size: 14px;
    }
    &:focus{
      outline: none;
      background-color: #FAF7FD;
      border:0;
      box-shadow: 0 0 10px #ffffff;
      outline: none;
    }
  }
  form{
      .form-header {
          padding-bottom: 14px;
          span {
              color: $white-color;
              padding: 10px;
              background: $theme-color;
              display: inline-block;
          }
      }
    .bolt{
      font-size: 30px;
      color: $theme-color;
    }
    .sumbit-btn{
      background-color: $theme-color;
      color: white;
    }
  }
  .anno {
    background-color: #004ea2;
    color: #FFF;
    padding: 5px 15px;
    margin-bottom: 10px;
    display: inline-block;
  }
  label {
      &.col-form-label h5 {
        font-weight: 400;
    }
  }
//*====== contact us css ends  =====*//

//*===== location area css start =====*//
.location {
    height: 350px;
}
//*===== location area css ends  =====*//

//*====== table common css =====*//
.table-theme{
    font-size: 14px;
    background-color: #DCDCD9;
}
.table-content{
    font-size: 14px;
    background-color: rgb(255, 255, 250);
}
//*====== table common css =====*//

//*===== footer area css start ======*//
footer {
    border-top: 1px solid #e0e0e0;
    .footer-content {
        padding: 24px 0;
        text-align: center;
        p {
            color: #949495;
            margin: 0;
            font-size: 14px;
        }
    }
}
//*===== footer area css ends  ======*//